* {
    font-size: 10px;
}  
  
body {
    background-color: #101357;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#loginback,
#loggedInBack {
  color: #A21A24;
  font-size: 2rem;
  text-align: center;
  font-family: monospace;
  border: 0.3rem;
  border-style: solid;
  border-color:white;
  height: 35rem;
  width: 70%;
  position: relative;
  top: 20rem;
  left: 24%;
  border-radius: 2rem;
  padding: 2rem;
}


#details {
  position: relative;
  top: 3.5rem;
  width: 50%;
  font-size: 2.5rem;
  left: 1rem;
  margin-bottom: 3rem;
}

#pdetails {
  position: relative;
  top: 3.5rem;
  width: 50%;
  font-size: 2.5rem;
  left: 1rem;
  margin-bottom: 3rem;

}

#username {
  position: relative;
  width: 40%;
  height: 3.5rem;
  top: -3rem;
  left: 5rem;
  border-color: #A21A24;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #272727;
}

#Password {
  position: relative;
  width: 40%;
  height: 3.5rem;
  top: -3rem;
  left: 5rem;
  border-color: #A21A24;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #272727;
  color: white;
  font-size: 20px;

}

#loginsub,
#browseButton,
#registerButton {
  position: relative;
  width: 15%;
  height: 3.5rem;
  background-color: #A21A24;
  border-radius: 6%;
  border: 2px;
  border-color: black;
  border-style: solid;
  color: white;
  font-size: 2rem;
  font-family: monospace;
}

#loginsub:hover,
#browseButton:hover,
#registerButton:hover {
  cursor: pointer;
  box-shadow: 2px 3px 8px rgb(125, 0, 0);
}

#welcomeMessage {
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: xx-large;
}

#browse {
  margin-top: 15rem;
  font-size: large;
}
